@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&family=Montserrat:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", "sans-serif";
  --font-inter: "Inter", "sans-serif";
}
@layer components {
  .custom-container {
    @apply container mx-auto px-4 md:px-16 lg:px-32 xl:px-48;
  }
}

html {
  scroll-behavior: smooth;
  background: url("/background.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 2000px oklch(98.462% 0.001 247.838 / 0.9);
  min-height: 100%;
}

html[data-theme="mocha"] {
  scroll-behavior: smooth;
  background: url("/background.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 2000px oklch(20% 0.008 247.838 / 0.9);
  min-height: 100%;
}

@layer utilities {
  /* .shadow-custom {
    box-shadow: inset 0 0 0 2000px oklch(90% 0.063 306.703 / 0.9);
  }

  .shadow-custom-dark {
    box-shadow: inset 0 0 0 2000px #012638c1;
  } */

  /* Auto-switching based on Tailwind dark mode */
  .shadow-theme {
    box-shadow: inset 0 0 0 2000px oklch(92% 0.001 247.838 / 0.93);
    backdrop-filter: brightness(1.05) saturate(0.9);
  }

  .mocha .shadow-theme {
    box-shadow: inset 0 0 0 2000px oklch(18% 0.005 247.838 / 0.93);
    backdrop-filter: brightness(0.85) saturate(0.9);
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-10%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-fadeIn {
    animation: fadeIn 1s ease-out;
  }

  .animate-slideInFromLeft {
    animation: slideInFromLeft 0.8s ease-out;
  }
}

@plugin "daisyui";
@plugin "./catppuccinTheme.latte.ts";
@plugin "./catppuccinTheme.mocha.ts";
